<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :postal_code %><br />
  <%= f.text_field :postal_code %>
</div>

<div class="field">
  <%= f.label :address %><br />
  <%= f.text_field :address %>
</div>

<div class="field">
  <%= f.label :self_introduction %><br />
  <%= f.text_area :self_introduction %>
</div>

<div class="field">
  <%= f.label :avatar %><br />
  <%= f.file_field :avatar, autocomplete: "avatar" %>
</div>
